body{
    background: white;
    padding: 0;
    margin: 0;
}
.all {
	background: #eee;
	margin: 20px;
	padding: 20px;
}
.teamBrief {
	background: white;
	padding: 20px;
	margin: 0 20px 20px 0;
	float: left;
	width: 200px;
	border: solid 2px #999;
}

.teamLogo {
	float: left;
}

.teamName {
	float: right;
	margin-top: 0;
	font-weight: bold;
}

.personalLogo {
	background: white;
	margin: 0 0 0 20px;
	float: right;
	width: 120px;
	border: solid 2px #999;
}

.svenLogo {
	margin: 20px;
}
.amLogo {
	margin: 20px;
}
.bhLogo {
	margin: 20px;
}

.teamIntro {
	overflow: hidden;
	background: white;
	border: solid 2px #999;
	padding: 20px;
	margin: 0 20px 0 20px;

}