body{
    background: white;
    padding: 0;
    margin: 0;
}

/**for clear float*/
/*any element needs to clear float needs to inherit this class*/
.clearFloat:before, .clearFloat:after {
  content: "";
  display: table;
}
.clearFloat:after {
  clear: both;
}
.clearFloat {
	*zoom: 1;
}
/**for clear float*/


.all {
	background: #eee;
	margin: 20px;
	padding: 20px;
	
}

/*for every little block*/
.content {
	background: white;
	padding: 20px;
	border: solid 2px #999;
}


.teamBrief {
	position: relative;
	float: left;
	width: 200px;
	
}

.teamBrief span {
	position: absolute;
    right: 20px;
    top: 20px;
	font-weight: bold;
}

.personalLogo {
	float: right;
	width: 80px;
}

.amLogo {
	margin-top: 20px;
}
.bhLogo {
	margin-top: 20px;
}

.teamIntro {
	margin: 0 142px 0 262px;
}